requests
minio
pendulum==2.1.2
python-magic
faster-whisper
ffmpeg
transformers
openai-clip
opencv-python
summa
argostranslate
pillow
opencv-python-headless
ultralytics
python-docx
python-pptx
PyMuPDF
olefile
PyPDF2
